<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
      <use xlink:href="assets/brand/coreui.svg#full"></use>
    </svg>
    <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
      <use xlink:href="assets/brand/coreui.svg#signet"></use>
    </svg>
  </div>
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
    <li class="nav-item"><a class="nav-link" href="index.html">
        <svg class="nav-icon">
          <use xlink:href="assets/sprites/free.svg#cil-speedometer"></use>
        </svg> Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
    <li class="nav-title">Church Modules</li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/members']">
        <svg class="nav-icon">
          <use xlink:href="assets/sprites/free.svg#cil-drop"></use>
        </svg> Members</a></li>
    <li class="nav-title">Settings</li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/services']">
        <svg class="nav-icon">
          <use xlink:href="assets/sprites/free.svg#cil-drop"></use>
        </svg> Services</a></li>
  </ul>
  <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
  <header class="header header-sticky mb-4">
    <div class="container-fluid">
      <button class="header-toggler px-md-0 me-md-3" type="button"
        onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
        <svg class="icon icon-lg">
          <use xlink:href="assets/sprites/free.svg#cil-menu"></use>
        </svg>
      </button><a class="header-brand d-md-none" href="#">
        <svg width="118" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#full"></use>
        </svg></a>
      <ul class="header-nav d-none d-md-flex">
        <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
      </ul>
      <ul class="header-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">
            <svg class="icon icon-lg">
              <use xlink:href="assets/sprites/free.svg#cil-bell"></use>
            </svg></a></li>
        <li class="nav-item"><a class="nav-link" href="#">
            <svg class="icon icon-lg">
              <use xlink:href="assets/sprites/free.svg#cil-list-rich"></use>
            </svg></a></li>
        <li class="nav-item"><a class="nav-link" href="#">
            <svg class="icon icon-lg">
              <use xlink:href="assets/sprites/free.svg#cil-envelope-open"></use>
            </svg></a></li>
      </ul>
      <ul class="header-nav ms-3">
        <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-md"><img class="avatar-img" src="assets/img/avatars/8.jpg" alt="user@email.com">
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end pt-0">
            <div class="dropdown-header bg-light py-2">
              <div class="fw-semibold">Account</div>
            </div>
            <a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use xlink:href="assets/sprites/free.svg#cil-bell"></use>
              </svg> Updates<span class="badge badge-sm bg-info ms-2">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use xlink:href="assets/sprites/free.svg#cil-envelope-open"></use>
              </svg> Messages<span class="badge badge-sm bg-success ms-2">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use xlink:href="assets/sprites/free.svg#cil-task"></use>
              </svg> Tasks<span class="badge badge-sm bg-danger ms-2">42</span></a>
            <div class="dropdown-header bg-light py-2">
              <div class="fw-semibold">Settings</div>
            </div><a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use xlink:href="assets/sprites/free.svg#cil-user"></use>
              </svg> Profile</a><a class="dropdown-item" href="#">
              <svg class="icon me-2">
                <use xlink:href="assets/sprites/free.svg#cil-settings"></use>
              </svg> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logOut()">
              <svg class="icon me-2">
                <use xlink:href="assets/sprites/free.svg#cil-account-logout"></use>
              </svg> Logout</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="header-divider"></div>
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0 ms-2">
          <li class="breadcrumb-item">
            <!-- if breadcrumb is single--><span>Home</span>
          </li>
          <li class="breadcrumb-item active"><span>Members</span></li>
        </ol>
      </nav>
    </div>
  </header>
  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
    <div><a href="https://coreui.io">Church Management System </a>Developed by Kibreab Gizatu &copy;2021</div>
  </footer>
</div>
