<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">{{code}}</h1>
          <h4 class="pt-3">{{titleMessage}}</h4>
          <p class="text-medium-emphasis">{{emphasisMessage}}</p>
          <button class="btn btn-primary" (click)="loginPage()" type="button">Go to Login Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
